mta_archives/
node_modules/
default-*.json
.env
.yo-rc.json
.vscode/
coverage/
gen/
dist/
local/
app-build/
resources/
*-content.zip
content.zip
manifest-bundle.zip
connection.properties
*-private.http
*-private.json
*-private.mtaext
*-private.yaml
*.db
*.mtar
*.mta
*.log
_out
.che/
.gen/
.DS_Store
.cdsrc.json
.cdsrc-private.json
*.sqlite
*.sqlite-*
.$*
api/test/requests.http
!*.sample.http
!default-*.sample.json
!router/dev/default-env.json