mta_archives/
node_modules/
@cds-models/
default-*.json
.env
.yo-rc.json
.vscode/
coverage/
gen/
dist/
local/
app-build/
resources/
*-content.zip
content.zip
manifest-bundle.zip
connection.properties
*-private.http
*-private.json
*-private.mtaext
*-private.yaml
*.db
*.mtar
*.mta
*.log
_out
.che/
.gen/
.DS_Store
.cdsrc-private.json
brokerpass.txt
*.sqlite
*.sqlite-*
.$*

!multi-tenant/code/router/dev/default-services.sample.json
!multi-tenant/code/router/dev/default-env.json
!single-tenant/code/router/dev/default-services.sample.json
!single-tenant/code/router/dev/default-env.json
