{{ if .Values.expose.enabled }}
apiVersion: gateway.kyma-project.io/v1beta1
kind: APIRule
metadata:
  name: {{ include "ai-srv.fullname" . }}
  labels: {{- include "ai-srv.labels" . | nindent 4 }}
spec:
  gateway: {{ .Values.global.gateway | default "kyma-system/kyma-gateway" }}
  host: {{ printf "%s.%s" ( include "ai-srv.exposeHost" . ) $.Values.global.domain }}
  rules:
  - methods: ["GET", "POST", "PUT", "DELETE", "PATCH", "HEAD"]
    path: /-/cds/.*
    accessStrategies:
      - handler: allow
  service:
    name: {{ include "ai-srv.fullname" . }}
    port: {{ .Values.port }}
{{ end }}